{% if user.is_authenticated %}
    {% if link_name in links_in_dashboard %}
        <a class="btn btn-light" style="position: fixed; bottom: 10px; right: 10px;"
            href="{% url 'remove_tool_from_dashboard' link_name %}"
            title="Remove from Dashboard"><span class="material-icons">remove_circle</span></a>
    {% else %}
        <a class="btn btn-light" style="position: fixed; bottom: 10px; right: 10px;"
            href="{% url 'add_tool_to_dashboard' link_name %}"
            title="Add to Dashboard"><span class="material-icons">add_circle</span></a>
    {% endif %}
{% endif %}