{% extends 'mab/base.html' %}
{% load bootstrap4 %}
{% load render_bundle from webpack_loader %}

{% block content %}

<div class="col-12 text-center">
    <h1 class="mx-auto">Risk Management</h1>
</div>

<div class="container mt-3">
    {% if messages %}
        <ul style="list-style-type: none">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                        <li>{{ message|linebreaksbr }}</li>
                    </div>
                {% elif message.tags == 'info' %}
                    <div class="alert alert-info">
                        <li>{{ message|linebreaksbr }}</li>
                    </div>
                {% elif message.tags == 'warning' %}
                    <div class="alert alert-warning">
                        <li>{{ message|linebreaksbr }}</li>
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger">
                        <li>{{ message|linebreaksbr }}</li>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'riskmanagement:create_audit' %}" class="btn btn-light">Add Audit</a>

</div>

{% endblock content %}