{% extends 'mab/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="col-12 text-center">
    <h1 class="mx-auto">Client Relations</h1>
</div>

<div class="container mt-3">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/clientrelations/general_tools' %}active{% endif %}" 
                style="{% if request.path == '/clientrelations/general_tools' %}background-color: #F2F2F2; border-color: #F2F2F2{% endif %}"
                href="{% url 'clientrelations:general_tools' %}">General Tools</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/clientrelations/other_tools' %}active{% endif %}" 
                style="{% if request.path == '/clientrelations/other_tools' %}background-color: #F2F2F2; border-color: #F2F2F2{% endif %}"
                href="{% url 'clientrelations:other_tools' %}">Other</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/clientrelations/aclient_tools' %}active{% endif %}" 
                style="{% if request.path == '/clientrelations/aclient_tools' %}background-color: #F2F2F2; border-color: #F2F2F2{% endif %}"
                href="{% url 'clientrelations:aclient_tools' %}">AClient</a>
        </li>
    </ul>
    <div style="background-color: #F2F2F2">
        {% block index_content %}
            
        {% endblock index_content %}
    </div>
<div>
    
{% endblock content %}
